// colors
$white: #fff;
$darkGrey: #363636;
$lightGrey: #4e4e4e;
$mediumGrey: #666666;
$grey: #313131;
$lightestGrey: #a2a2a2;
$contactsGrey: #656565;
$formBorder: #e9e9e9;
$formText: #939598;
$formLabels: #58595b;
$footerGrey: #4c4c4c;

$greenHeader: #4cb027;
$greenBtn: #63b945;
$lightGreen: #66cc00;
$lightMint: #caf1d4;


