
<div class="container nav-bar">
  <div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-2 col-xl-2 logo-box">
      <div class="logo">david</div>
      <div class="nav-icon hidden" id="mobileNav">
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg col-xl nav-box">
      <nav class="nav hidden" id="nav">
        <ul>
          <li><a href="#">что входит в программу</a></li>
          <li class="separator">&middot;</li>
          <li><a href="#">почему сидеть вредно</a></li>
          <li class="separator">&middot;</li>
          <li><a href="#">в каких случаях программа будет полезной</a></li>
          <li class="separator">&middot;</li>
          <li><a href="#">как все происходит</a></li>
          <li class="separator">&middot;</li>
          <li><a href="#">как работает методика david</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

