<section class="info">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1>почему сидеть вредно?</h1>
        <p>около 85% людей в мире ведут малоподвижный образ жизни</p>
        <p>Эта проблема является ключевой причиной различных заболеваний опорно-двигательного аппарата</p>
        <div class="infograph-box">
          <div class="ingograph work">
            <div><p>7,5</p><span>часов</span></div>
            <p>Сидит на работе</p>
          </div>
          <div class="ingograph tv">
            <div><p>1,5</p><span>часа</span></div>
            <p>Смотрит телевизор</p>
          </div>
          <div class="ingograph comp">
            <div><p>1,5</p><span>часа</span></div>
            <p>Сидит за компьютером</p>
          </div>
          <div class="ingograph eat">
            <div><p>3</p><span>часа</span></div>
            <p>Сидит, принимая пищу</p>
          </div>
          <div class="ingograph car">
            <div><p>1,5</p><span>часа</span></div>
            <p>Сидит в транспорте</p>
          </div>
          <p>сидя, современный человек проводит в среднем <span>15 часов</span> в день!</p>
          <p>при сидении нагрузка на позвоночник возрастает в 11 раз</p>
          <p>Когда человек садится, вся тяжесть тела ложится на позвоночник, провоцируя нарушение тонуса мышц и застой в тканях межпозвоночных дисков. Как результат – дискомфорт и болевые ощущения вдоль всего позвоночника.</p>
        </div>
      </div>
    </div>
  </div>
</section>
