<section class="callback">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-xl-9 col-lg-11">
        <h1>записаться на прием</h1>
        <p>Позвоните в любое из наших отделений, ответим на все вопросы или запишем на прием к доктору</p>
        <div class="branches">
          <div class="branch">
            <p class="city">Ивано-Франковск</p>
            <p class="adress">ул. Черновола</p>
            <p class="phone">(0342) 74-45-40</p>
          </div>
          <div class="branch">
            <p class="city">Киев</p>
            <p class="adress">м. Лукьяновская, КПИ, Осокорки, Позняки</p>
            <p class="phone">(044) 574-88-86</p>
          </div>
          <div class="branch">
            <p class="city">Львов</p>
            <p class="adress">ул. Кульпарковская</p>
            <p class="phone">(032) 254-03-46</p>
          </div>
        </div>
        <p>Заполните форму и мы свяжемся с вами, ответим на все вопросы или запишем на прием к доктору</p>
      </div>
    </div>
    <div class="row">
      <div class="col form">
        <form action="" class="reception">
          <div>
            <label for="" class="reception-label">Отделение</label>
            <select name="city-select" id="" size="1" class="city-select">
              <option selected="selected">Выберите удобное для вас отделение</option>
              <option value="Ивано-Франковск">Ивано-Франковск</option>
              <option value="Львов">Львов</option>
              <option value="Лукьяновская">Киев, м.Лукьяновская</option>
              <option value="КПИ">Киев, м. КПИ</option>
              <option value="Осокорки">Киев, м. Осокорки</option>
              <option value="Позняки">Киев, м. Позняки</option>
            </select>
          </div>
          <div>
            <label for="" class="reception-label">Имя</label>
            <input type="text" placeholder="Имя" class="name-input">
          </div>
          <div>
            <label for="" class="reception-label">Телефон</label>
            <input type="text" placeholder="+380" class="phone-input">
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
        <input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="send">
      </div>
    </div>
  </div>
</section>