<section class="what">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>что входит в программу?</h1>
        <p class="what_subhead">Программа «Здоровье спины при малоподвижном образе жизни» – это комплекс занятий по финско-немецкой методике DAVID под наблюдением профессионального реабилитолога на современных медицинских тренажерах, оснащенных специальным компьютерным обеспечением. </p>
      </div>
    </div>

    <div class="row slider-container" id="slider">
      <div class="col-6 col-sm-1 col-md-1 col-lg-1 col-xl-1 arrow-container left">
        <div class="arrow left" id="prev"></div>
      </div>
      <div class="col-12 col-sm col-md col-lg col-xl slider-hider">
        <div class="sliders">
          <div class="slide first"></div><div class="slide second"></div><div class="slide third"></div>
        </div>
      </div>
      <div class="col-6 col-sm-1 col-md-1 col-lg-1 col-xl-1 arrow-container right">
        <div class="arrow right" id="next"></div>
      </div>
    </div>

    <div class="row slider_nav">
      <div class="col slider_nav_container">
        <div class="slider_nav">
          <div class="slider_nav_item active"></div>
          <div class="slider_nav_item"></div>
          <div class="slider_nav_item"></div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center stages">
      <div class="col-sm-10 col-12 col-md-5 col-lg-5 col-xl-5">
        <div class="stage">
          <span class="tick">&#10004;</span>
          <p class="stage_text">Первичное компьютерное тестирование для диагностики силы, амплитуды и состояния мышечного корсета и суставов.</p>
        </div>
        <div class="stage">
          <span class="tick">&#10004;</span>
          <p class="stage_text">Составление индивидуальной программы занятий, с учетом полученных результатов тестирования</p>
        </div>
        <div class="stage">
          <span class="tick">&#10004;</span>
          <p class="stage_text">Курс занятий по уникальной в Украине финско-немецкой методике на медицинских компьютеризированных тренажерах</p>
        </div>
      </div>
      <div class="col-sm-10 col-12 col-md-5 col-lg-5 col-xl-5">
        <div class="stage">
          <span class="tick">&#10004;</span>
          <p class="stage_text">Промежуточное и заключительное диагностическое исследование функций мышц и суставов, для контроля динамки положительного результата.</p>
        </div>
        <div class="stage">
          <span class="tick">&#10004;</span>
          <p class="stage_text">Занятия проходят под обязательным контролем реабилитолога </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center comments">
      <div class="col-md-11 col-lg-9 col-xl-9">
        <p class="comment">Программу лечения в каждом конкретном случае составляет доктор во время первичной консультации.</p>
        <p class="comment">При наличии выраженных болей врач рекоменует курс лечения для снятия воспалительного процесса и отека и, после устранения острой боли специалисты разрабатывают индивидуальную программу занятий</p>
      </div>
    </div>
  </div>
</section>
